<ul id="demo1">
    <li>
        <img src="/Content/images/11.jpg" alt="" />
        <!--Slider Description example-->
        <div class="slide-desc">
            <h3>Shop thời trang</h3>
        </div>
    </li>
    <li>
        <img src="/Content/images/22.jpg" alt="" />
        <div class="slide-desc">
            <h3>Trang phục hiện đại & trẻ trung</h3>
        </div>
    </li>

    <li>
        <img src="/Content/images/44.jpg" alt="" />
        <div class="slide-desc">
            <h3>Cung cấp chất lượng tốt nhất</h3>
        </div>
    </li>
</ul>