@model List<EShop.Models.Category>
@{
    ViewBag.Title = "Danh mục";
}
<table class="table">
    <thead>
        <tr>
            <th>#ID</th>
            <th>Tên</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.Name</td>
                <td>
                    @Html.ActionLink("Xóa","Delete","Category")
                </td>
            </tr>
        }
    </tbody>
</table>