@model EShop.Models.Order
@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết đơn hàng @Model.OrderId</h2>

<table class="table table-hover">
    <thead>
        <tr></tr>
    </thead>
</table>